<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="LegoSet" type="org.mvnsearch.mybatis.demo.model.LegoSet"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/LegoSet.xml"/>
    </mappers>
</configuration>